.home {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 90vh;

}

.form-cep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0550ED;
    height: 23em;
    width: 33em;
    display: flex;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.form-cep form {
    width: 100%;
    height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-cep form p {
    color: #fff;
}

form input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
    width: 60%;
    
  }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #ffffff27;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .lable {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #ffffff49;
  }
  
  .button:hover img {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-8deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(8deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

  