<div class="home">
    <div class="form-cep">
        <form >
            <label for="cep">
                <p>Informe o Cep:</p>
            </label>
            <input id="campo_cep" class="campoCep" type="text" name="input-cep" title="Input cep" placeholder="Digite o cep" required [(ngModel)]="cep">

            <label for="km">
                <p>Informe os Km's:</p>
            </label>
            <input id="campo_km" class="campokm" type="number" name="input-km" title="Input km" placeholder="Digite o km" required [(ngModel)]="km">
            <button class="button" (click)="onSearch(cep, km)">
                
                <img src="../../assets/icons/magnifying-glass (1).png" alt="">
                <span class="lable">Pesquisar</span>
              </button>
              <app-modal *ngIf="modalService.isModalOpen$ | async" 
                 (close)="modalService.closeModal()" 
                 [dadosDaRequisicao]="dadosDaRequisicao"></app-modal>
        </form>
        
    </div>

</div>