<!-- <table>
    <thead>
      <tr>
        <th>CEP</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dadosDaRequisicao">
        <td >{{item.code}}</td>
        <td>{{item.latitude}}</td>
        <td>{{item.longitude}}</td>
      </tr>
    </tbody>
  </table> -->

  <table class="rwd-table">
    <tr>
      <th>CEP</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr *ngFor="let item of dadosDaRequisicao">
      <td >{{item.code}}</td>
      <td>{{item.latitude}}</td>
      <td>{{item.longitude}}</td>
    </tr>
    
  </table>
