@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@700&display=swap");

.navs {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 300px;
  background: #d8d9da;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  position: fixed;
}

.navs p {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: #000000;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

nav a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
}

.navs p {
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #0c134f;
}

nav a:hover {
  background: #ffe082;
}

nav a:active {
  background: #ffca28;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before {
  top: -7px;
}

.navicon div:after {
  top: 7px;
}

.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  background-color: #0c134f;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--night-rider);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

@media screen and (max-width: 1030px) {
  .Btn {
    background-color: #d8d9da;
  }

  .navs {
    justify-content: space-between; /* Adicione esta linha para manter o espaço entre os itens */
    align-items: center;
    flex-direction: row; /* Mantenha a direção do flex como linha */
  }

  .navs p {
    margin: 0; /* Remova a margem superior padrão do parágrafo */
    font-size: 20px; /* Ajuste o tamanho da fonte para telas menores */
    justify-content: center;
  }
  .lss{
    z-index: 1000;
  }

  nav {

    background: #d8d9da;

  }
}
