/* You can add global styles to this file, and also import other style files */
/* body,
html {

  background-image: url('./assets/blob-scene-haikei.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} */

body{
  background: url('./assets/blob.svg') no-repeat center center fixed;
  background-size: cover; /* Ou ajuste conforme necessário */
}

* {
  box-sizing: border-box; /* Evitar problemas de layout devido à largura e altura do elemento incluindo a borda e o preenchimento */
}
